extends layout
block head
    script(src="https://code.jquery.com/jquery-3.3.1.min.js",
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=",
        crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

block content
    div#loginpage
        .container
            .row.justify-content-center
                .col-12.col-lg-5
                    #loginForm.card.card-signin
                        .card-body
                            h5.card-title.text-center Login
                            form.form-signin
                                .form-label-group
                                    input#userName.form-control(type='text' placeholder='Email address' required='' autofocus='')
                                    label(for='userName') Username
                                .form-label-group
                                    input#inputPassword.form-control(type='password' placeholder='Password' required='')
                                    label(for='inputPassword') Password
                                div#loginError.text-danger Some message
                                button(type='button')#loginButton.btn.btn-lg.btn-primary.btn-block.text-uppercase Login

    div#main
        h1= title

        .container
            .row.justify-content-center
                div(style="max-width:400px;padding-top:30px")
                    img(src='../images/microbit.png').img-fluid

        div#status
            text Connect to a micro:bit and flash the bridging software

        .div#terminal-container
            input(type="checkbox")#terminal-checkbox
            label(for="terminal-checkbox")#terminal-toggle &#9776;
            div#terminal-box
                div#terminal-header Terminal
            div#terminal-contents

        div#history-container
            input(type="checkbox")#history-checkbox
            label(for="history-checkbox")#history-toggle &#9776;
            div#history-box
                div#history-header History



        dif#footer
            .container
                #controls.row.justify-content-center
                    button#connect Connect
                    button#flash Flash micro:bit
                    button#logout Logout

    script(type="module", src="javascripts/sidebars.js")
    script(type="module", src="javascripts/WebBridge.bundle.js")
